ion-col {
  grid-template-columns: 33.5% 33.5% 33.5%;
  display: grid;
}

app-square {
  border: 1px gray solid;
  height: 8rem;
  background-color: lightgray;
}

.header {
  padding-top: 30px;
  width: 100%;
  text-align: center;
  position: absolute;
}

ion-grid {
  padding-top: 15rem;
}

.check-btn {
  text-align: center;
}
