ion-col {
  grid-template-columns: 33.5% 33.5% 33.5%;
  display: grid;
}

app-square {
  border: 1px gray solid;
  height: 8rem;
  background-color: lightgray;
}

.header {
  text-align: center;
}

ion-grid {
  padding-top: 20%;
}
