<ion-content>
  <ion-grid class="content">

    <ion-item>
      <ion-input #usernameInput placeholder="Pseudo"></ion-input>
    </ion-item>
    <br>
    <ion-buttons>
      <ion-button (click)="createGame(usernameInput.value.toString())" color="primary">
        Créer une partie !
      </ion-button>
    </ion-buttons>

    <br><br>
    <ion-item>
      <ion-input #roomInput placeholder="Identifiant partie"></ion-input>
    </ion-item>
    <br>
    <ion-button shape="round" fill="outline" [disabled]="!usernameInput.value || !roomInput.value"
      (click)="joinGame(usernameInput.value.toString(), roomInput.value.toString())">
      Rejoindre !
    </ion-button>


  </ion-grid>

</ion-content>