<ion-content>
  <ion-label>
    <ion-input #usernameInput placeholder="nom"></ion-input>
  </ion-label>

  <ion-label>
    <ion-input #roomInput placeholder="identifiant de partie"></ion-input>
  </ion-label>


  <ion-button (click)="createGame(usernameInput.value.toString())">
    Créer une partie !
  </ion-button>
  <ion-button [disabled]="!usernameInput.value || !roomInput.value"
    (click)="joinGame(usernameInput.value.toString(), roomInput.value.toString())">
    Rejoindre !
  </ion-button>
</ion-content>
